# Compiled class file
*.class

# Log file
*.log

# Certificates
*.pem

# BlueJ files
*.ctxt

# Runtime data
pids
*.pid
*.seed

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
bin/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# VS Code files
.vscode/

# Jerbrains files
.idea/

# Other
.DS_Store
.npm
.eslintcache
node_modules
